.maintitle{
    width: 100%;
    text-align: center;
    border-bottom: solid 1px red;
    border-radius: 4px;
}
.mainContainer{
    width: 100%;
}

.publiCell{
    width: 300px;
}
.publiCellMobile{
    width: 100%;
    height: 90px;
    display: none;
}

@media only screen and (max-width: 765px) {
    .publiCell {
        display: none;
    }
    .publiCellMobile{
        display: inline;
    }
}