.maintitle{
    text-align: center;
    border-bottom: solid 1px red;
    border-radius: 4px;
}
.mainContainer{
    width: 100%;
}

.publiCellMobile{
    width: 100%;
    height: 90px;
    display: none;
}

.loadButton{
    color: red;
    position: fixed;
}

.imgTitle{
    max-width: 100%;
}

.noticia:hover{
    cursor: pointer;
}

.video{
    width: 640px;
    height: 360px;
}

.noticiaSubTitle{
    font-weight: bold;
}

.imgmid{
    max-width: 90%;
}

body{
    padding-right: 0px !important;
}
.modal{
    padding-right: 0px !important;
}
@media only screen and (max-width: 765px) {
    .video{
        width: 426px;
        height: 240px;
    }
    .publiCell {
        display: none;
    }
    .publiCellMobile{
        display: block;
        
    }
}

.publiLink{
    width:100%;
    height:100%;
}

.maintitle{
    text-align: center;
    border-bottom: solid 1px red;
    border-radius: 4px;
}
.mainContainer{
    width: 100%;
    background-color: lightgray;
}
.publiCell{
    width: 300px !important;
    padding: 15px;
    background-image: url("images/bannerLat.jpg");
}

.publiCell:hover{
    cursor: pointer;
}

.noticia{
    border: solid 1px red;
    margin: 30px;
    border-radius: 4px;
    background-color: white;
    padding: 15px;
}

.imgTitle{
    margin: auto;
    margin-bottom: 15px;
}

.imgTitle{
    max-width: 100%;
}
