.maintitle{
    text-align: center;
    border-bottom: solid 1px red;
    border-radius: 4px;
}
.mainContainer{
    width: 100%;
}

.publiCell{
    width: 300px !important;
    background-color: green;
}

.publiCellMobile{
    width: 100%;
    height: 90px;
    background-color: blue;
    display: none;
}

.imgTitle{
    max-width: 100%;
}

.noticia:hover{
    cursor: pointer;
}

.video{
    width: 640px;
    height: 360px;
}

.noticiaSubTitle{
    font-weight: bold;
}

@media only screen and (max-width: 765px) {
    .video{
        width: 426px;
        height: 240px;
    }
    .publiCell {
        display: none;
    }
    .publiCellMobile{
        display: block;
        
    }
}